#container{
    position:relative;
    height:700px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

#directions{
    position:absolute;
    width: 23%;
    right: 1%;
    height: 690px;
    overflow:auto;
}

#googleMap{
    border: 1px solid #C0C0C0;
    width: 75%;
    height: 700px;
}

fieldset {
    border: 1px solid #C0C0C0;
    background-color: lightyellow;
    margin-bottom: 10px;
}

header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: cadetblue;
}

button {
    margin-top: 5px;
}

#gmap3-menu .item.refresh{
    background-image: url(../images/refresh.png);
}